body.dark-theme{
  background-color: #222;
}

/* VIDEO EMBED */

.video {
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 56%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video div {
  overflow: visible !important;
}

iframe[title="YouTube Video"]{

  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black; 
}

.book {
  margin: 2em auto;
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 120%;
}

.book iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}

.embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin: 2em 0;
}

.slideshow iframe {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

div#remarkbox-div {
  background-color: darkgray !important;
  padding: 20px;
  border-radius: 10px;
  margin: 40px;
  box-shadow: 2px 2px 5px black;
  opacity: 0.5;
}

.photo-box {
  padding: 50px 0 5px 0;
  width: 90%;
}

.photo-box img {
  max-width: 700px;
  margin: auto;
  border: 8px solid #333;
  border-radius: 15px;
  box-shadow: 1px 1px 3px black;
}

.photo-credit {
  font-size: small;
  padding-left: 30px;
  margin: 10px 0 20px 0;
  color: #777; 
  
}

.logo__cursor {
  background: #30bb30;
}

h3 {
  margin-block-start: 4em !important;
}

hr {
  margin: 3em 0;
}

.post-content a, .post-title, .green-link {
  text-decoration: none;
  color: #30bb30;
  font-weight: bold;
}

.blurb {
  margin-left: 2em;
}

img[alt="self-portrait"] {
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 20px #111;
  margin: auto;
  padding: 5px;
}

#random-image {
  width: 90%;
  margin: auto;
  padding: 0;
  text-align: center;
}

.photo {
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;
  padding: 5px;
  border: 8px solid gray;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}

#photo-caption {
  display: block;
  width: 250px;
  margin: auto;
  cursor: pointer;
  padding-top: 5px;
  }

#photo-caption a {
  text-decoration: none;
  color: darkgray;
}

#photo-caption a:hover {
  text-decoration: none;
  color:#30bb30;
}

span.post-title {
  width: 200px;
}

ol {
  line-height: 1.75;
}

li {
  padding-bottom: 2rem;
}

@media (max-width: 700px){
  .photo {
    width: 80%;
  }
  
  #photo-caption {
    font-size: smaller;
  }
}
